.navbar {
  text-align: center;
  z-index: 100001;
}


.footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 100002;
}


body {
  /* overflow: hidden;*/
  overflow-y: auto; 
  overflow-x: hidden;
  background-color: #141413;
}


