.navbar {
  text-align: center;
  z-index: 100001;
}


.footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 100002;
}


body {
  overflow: hidden;
  background-color: #141413;
}

/*
      <div className="container">
          <div className="navbar">
            <Navbar menu={this.props.menu} />
          </div>  
          <div className="main">
              <Routes menu={this.props.menu} />
          </div>
          <div className="footer">
            <Footer menu={this.props.social} />
          </div>
      </div>
*/