.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    z-index: 1001;
}

.navbar-item{
    margin-top: 20px;
    margin-left: 20px;
}